:root {
  --accent: #000000; /* Fleura pink accent */
  --bg-color: #caf7013f; /* very light pink background */
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #111; /* Black text */
}

/* Optional: links hover pink */
a:hover {
  color: var(--accent);
}
